
	.geoiploc_container {
		width:695px;
		background:url(top_border.jpg) #F5F4F4 top repeat-x;
		padding-top:10px;
		font-family:tahoma;
		font-size:11px;
	}
	
	.geoiploc_container .sub {
		height:200px;
		border:1px solid #CCC;
		background:url(bottom_border.jpg) bottom repeat-x;
		border-bottom:0;
		padding:0 2px 4px 2px;
	}
	
	.sub.sub_1 {
		float:left;
		width:400px;
	}
	
	.sub.sub_2 {
		float:right;
		width:283px;
		padding:0;
		margin:0;
		padding-bottom:4px;
	}
	
	.geoiploc_container .sub .info {
		width:395px;
		float:left;
		height:100%;
	}
	
	.geoiploc_container .sub .info table {
		height:100%;
	}
	
	.geoiploc_container .sub .map {
		width:245px;
		float:right;
		height:100%;
	}
	
	.geoiploc_container .sub span {
		display:block;
	}
	
	.geoiploc_container .sub .label {
		font-size:9px;
		color:#996;
		line-height:1.3;
	}
	
	.geoiploc_container .sub .label:after {
		content:":";
	}
	
	.geoiploc_container .sub .ip_address {
		font-size:30px;
	}
	
	.geoiploc_container .sub .country_name {
		font-size:25px;
	}
	
	.geoiploc_container .sub .city_region {
		font-size:15px;
	}
	
	.geoiploc_container .sub .zip_code, .geoiploc_container .sub .timezone {
		font-size:16px;
	}
	
	
	.geoiploc_container .sub .map_env {
		background:#D7D7D7;
	}
	
	.geoiploc_container .sub .map_env span {
		font-size:13px;
		color:#666;
		text-align:left;
		padding-left:3px;
	}
	
	.geoiploc_container .sub .map_env .map_border {
		padding:3px 0;
		padding-top:8px;
		margin-top:5px;
		background:url(map_border.png) top repeat-x;
	}