 
html,body {
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p,h1,h2,h3,h4 {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

hr {
  border-color:#191919;
}

/* wrapper for page content to push down footer */
.page-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* negative indent footer by its height */
  margin: 0 auto -120px;
  /* pad bottom by footer height */
}

/* set the fixed height of the footer here */
#footer {
  height: 120px;
  background-color: #ffffff;
  border:0 solid #080808;
  border-top-width: 1px;
  margin-top:50px;
}

#footer > .container {
  padding: 20px;
}

body {
   background: #ffffff;
  color: #f9f9f9;
}
a {
  color:#bcbcbc;
}
.text-center {
  padding-top: 20px;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}

#sidebar .affix {
  position:fixed;
  top:55;
  width:220px;
}

#sidebar .affix-bottom {
  position:fixed;
  top:55;
  width:220px;
}

#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #1e1e1e solid;
  border-bottom-width:1px;
}
#sidebar li a {
  padding-left:1px;
}
#sidebar li a:hover {
  background-color:#222222;
  color:#ffffff;
}

.navbar-fixed-bottom {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
     margin-bottom: 0;
         bottom: 0;
}
.navbar-inverse {
    background-color: #fff;
    border-color: #080808;
}
.panel-heading {
    border-bottom: 1px solid transparent;
 border-top-left-radius: 3px;
    border-top-right-radius: 3px;
     text-align: center;
         padding: 5px 15px;
}
.panel-body {
    padding: 0;
        background: url("assets/img/fn-front.jpg") repeat-x;
}
.panel-body > img {
    width: 100%;
}
.panel {
    background-color: #fff;
    border: medium none;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;

}
.panel-default > .panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
    font-size: 1rem;
}
.panel-subheading {
     padding: 2px 5px 11px;
     border-bottom: 1px solid #efefef;
}
.navbar-toggle {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    float: right;
    height: 100%;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 24px 25px;
    position: relative;
    width: 20%;
}

button.navbar-toggle.op5 {background-color: #cccccc;   background-image: url("/assets/img/homeop.png");}
button.navbar-toggle.op4 {background-color: #222222;   background-image: url("/assets/img/homeop.png");}




.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

/* event front */

span.event-date {font-size: 1rem;color: #385a9a; margin-left: 10px;}
span.event-name {font-size: 1.1rem; margin-left: 10px;}



/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    background-color:#3b3b3b;
    padding-top:0;
  }
  #sidebar .nav>li {
    color: #ddd;
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    padding-left:10px;
  }
  #sidebar .nav>li:first-child {
    border-top:0;
  }
  #sidebar .nav>li>a {
    color: #ddd;
  }
  #sidebar .nav>li>a>img {
    max-width: 14px;
  }
  #sidebar .nav>li>a:hover, #sidebar .nav>li>a:focus {
    text-decoration: none;
    background: linear-gradient(#373737, #323232);
    color: #fff;  
  }
  #sidebar .nav .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  #sidebar .nav a:hover .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
}

/* theme */
.btn,.form-control,.alert,.progress,.panel,.list-group,.well,.list-group-item:first-child {border-radius:1px;box-shadow:0 0 0;}
.btn {border-color:transparent;}
.btn-default,.well {
  background-color:#cccccc;
  border-color:#c0c0c0;
}
.btn-primary,.label-primary,.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus,.btn.active,a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
   background-color:#0099CC;
   border-color:transparent;
}
.btn-info,.label-info,.progress-bar-info {
  background-color:#33b5e5;
}
.btn-success,.label-success,.progress-bar-success {
  background-color:#669900;
}
.btn-danger,.label-danger,.progress-bar-danger {
  background-color:#FF4444;
}
.btn-warning,.label-warning,.progress-bar-warning {
  background-color:#FFBB33;
  color:#444444;
}
.nav-tabs>li>a {
  border-radius:0;
}
     
      
      
h3,h4,h5,.panel {
   color:#555555;
}
.panel hr {
   border-color:#efefef;
}