	.geoiploc_container {
		width:680px;
		height:106px;
		background:url(top_border.jpg) #FAFAFA top repeat-x;
		padding-top:12px;
		font-family:Georgia, "Times New Roman", Times, serif;
		border:1px solid #E0E0E0;
		border-top:0;
	}
	
	.geoiploc_container .ip_info {
		width:100%;
	}
	
	.geoiploc_container .info {
		width:380px;
		height:103px;
	}
	
	.geoiploc_container .info td {
		font-size:12px;
		line-height:1.5;
	}
	
	.geoiploc_container .map {
		width:290px;
		height:100px;
		background:#777;
		float:right;
		padding:3px 0 0 4px;
		margin-right:4px;
	}
	
	.geoiploc_container .info .country_name {
		font-size:18px;
		font-weight:bold;
	}
	
	.clear {
		clear:both;
	}