
	.geoiploc_container {
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size:12px;
		width:200px;
		border:1px solid #CCC;
		border-top:5px solid #999;
		background:#FAFAFA;
		line-height:1.8;
	}
	
	.geoiploc_container .ip {
		font-size:18px;
		padding:5px 0;
		color:#656565;
	}
	
	.geoiploc_container .country {
		font-size:20px;
	}
	
	.geoiploc_container .city {
		font-size:12px;
	}